@page "/searchproducts"

@using BlazorWebAssembly3.ClassLibrary
@using System.Net.Http
@inject HttpClient _httpClient

<style>
    table.table tbody tr td img {
        width: 100px;
    }
</style>

<h1>Search Products</h1>

<p>This component demonstrates performing a search against a database.</p>

<input placeholder="Search Term" @bind="searchTerm" />
<button @onclick="Search">Search Products</button>

@if (productCategories == null)
{
    <p><em>No matching products ...</em></p>
}
else
{
    <p>Products matching @searchTerm</p>
    <table class="table">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Name</th>
                <th>Category Name</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productCategory in productCategories)
            {
                <tr>
                    <td>@productCategory.ProductId</td>
                    <td>@productCategory.Name</td>
                    <td>@productCategory.CategoryName</td>
                    <td>£@(string.Format("{0:0.00}", productCategory.Price))</td>
                    <td><img src="@productCategory.ImageFilePath" alt="@productCategory.Name image" /></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string searchTerm;

    private ProductCategory[] productCategories;

    protected async Task Search()
    {
        if (!string.IsNullOrWhiteSpace(searchTerm) && searchTerm.Length >= 3)
        {
            var uri = new Uri("http://localhost:62494/ProductCategory/SearchProductsAsync?searchTerm=" + searchTerm);
            productCategories = await _httpClient.GetFromJsonAsync<ProductCategory[]>(uri);
        }
    }
}
